.topbar {
    background-color: #0b3d0b !important; /* Dark forest green */
    color: #ffffff !important; /* White text */
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  
  .tabs {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
  
  .tab {
    color: #ffffff !important; /* White text */
    font-weight: 500;
    padding: 16px;
    text-align: center;
    flex-grow: 1;
  }
  
  .tab-selected {
    background-color: #064206 !important; /* Slightly darker forest green */
  }
  
  @media (max-width: 768px) {
    .tabs {
      flex-direction: column;
    }
  
    .tab {
      width: 100%;
      padding: 12px 0;
    }
  }